html {
	font-size: 1em;
	line-height: 1.4;
}
body {
	background-color: #eee;
}
#face {
	font-size: 7rem;
	margin: 2rem 0;
}
#face,
#summary {
	text-align: center;
	display: block;
}

.drug-selector {
	display: flex;
	align-content: center;
	overflow: scroll;
	padding: 25px 0;
	-webkit-overflow-scrolling: touch;
}
.drug {
	display: block;
	min-width: 200px;
	height: 200px;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all .25s ease;
	position: relative;
	top: 0;
	z-index: 1;
}
.drug:first-of-type {
	margin-left: 0;
}
.drug:last-of-type {
	margin-right: 0;
}
/* icons */
.drug_logo {
	width: 150px;
}
/* drug labels */
p {
	margin: 0;
}
.selected {
	z-index: 2;
	background-image: linear-gradient(#2E3355, #222641);
	color: white;
	transform: scale(1.1);
}
.selected path {
	transition: all 1s ease;
	fill: white;
}