html {
	font-size: 1.2em;
}
body {
	display: flex;
	flex-direction: column;
}

/* container for drug choices */
.drug-selector {
	display: flex;
	align-content: center;
	overflow: scroll;
	padding: 30px 0;
	-webkit-overflow-scrolling: touch;
	background-color: #e1e1e1;
}

/* individual drugs */
.drug {
	display: flex;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all .5s ease;
	z-index: 1;
	margin: 0 10px;
	padding: 10px 20px;
	border-radius: 10px;
	background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
}

/* selected drug */
.selected {
	z-index: 2;
	background-image: linear-gradient(black, #222641);
	color: white;
	transform: scale(1.1);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
}
.selected path,
.selected polygon {
	transition: all .5s ease;
	fill: white;
}

/* icons */
svg {
	margin-right: 20px;
	max-height: 70px;/* remove? */
}

/* drug names */
p {
	margin: 0;
	white-space: nowrap;
}

/* gradients for selected drugs */
.selected.lsd {
	background-image: linear-gradient(gold, orangered);
}
.selected.mushrooms {
	background-image: linear-gradient(crimson, brown);
}
.selected.dmt {
	background-image: linear-gradient(purple, rebeccapurple);
}
.selected.mescaline {
	background-image: linear-gradient(green, pink);
}
.selected.dox {
	background-image: linear-gradient(turquoise, brown);
}
.selected.nbomes {
	background-image: linear-gradient(blueviolet, aquamarine);
}
.selected.c-x {
	background-image: linear-gradient(darkorchid, crimson);
}
.selected.c-t-x {
	background-image: linear-gradient(lightsalmon, mediumturquoise);
}
.selected.meo-xxt {
	background-image: linear-gradient(deeppink, darkcyan);
}
.selected.cannabis {
	background-image: linear-gradient(lightgreen, forestgreen);
}
.selected.ketamine {
	background-image: linear-gradient(midnightblue, black);
}
.selected.mxe {
	background-image: linear-gradient(moccasin, lightslategrey);
}
.selected.dxm {
	background-image: linear-gradient(deeppink, firebrick);
}
.selected.nitrous {
	background-image: linear-gradient(cyan, blue);
}
.selected.amphetamines {
	background-image: linear-gradient(yellow, tomato);
}
.selected.mdma {
	background-image: linear-gradient(gold, goldenrod);
}
.selected.cocaine {
	background-image: linear-gradient(honeydew, lightsteelblue);
}
.selected.caffeine {
	background-image: linear-gradient(peru, saddlebrown);
}
.selected.alcohol {
	background-image: linear-gradient(khaki, brown);
}
.selected.ghb-gbl {
	background-image: linear-gradient(silver, black);
}
.selected.opioids {
	background-image: linear-gradient(powderblue, skyblue);
}
.selected.tramadol {
	background-image: linear-gradient(paleturquoise, mediumturquoise);
}
.selected.benzodiazepines {
	background-image: linear-gradient(mistyrose, mediumorchid);
}
.selected.maois {
	background-image: linear-gradient(mediumslateblue, midnightblue);
}
.selected.ssris {
	background-image: linear-gradient(cornflowerblue, lime);
}

/* RESULTS */
.result {
	background: white;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.result__summary {
	font-weight: bold;
	font-size: 30px;
}
[class^=case__] {
	display: none;
}
.results__text {
	max-width: 500px;
}
.results__text p {
	white-space: normal;
}
.results__text h1 {
	margin-top: 0;
}
.results__emoji {
	margin-right: 50px;
}
.results__emoji h1 {
	font-size: 5rem;
	margin: 0;
}

@media only screen and (max-width: 736px) {
	.result {
		display: block;
	}
}