:root {
	--color-body-background:   #15172F;
	
	--color-label:             white;
	
	--color-h4:                white;
	--color-result-accessory:  #f9bc60;

	--color-about-background:  rgb(50, 50, 50);
	--color-about-p:           #abd1c6;
	--color-h1:                #fffffe;
	--color-about-accessory:   #f9bc60;
	
	--color-link:              #f9bc60;
	--color-link-hover:        #eeca94;
}

body {
	margin: 0;
	background-color: var(--color-body-background);
	color: white;
}
@media (min-width: 550px) {
	body {
		margin: 8rem 0;
	}
}
select {
	width: 100%;
	max-width: 100%;
	margin: 0 0 2rem 0;
	&:last-of-type {
		margin-bottom: 0;
	}
}
.result-accessory,
.about-accessory,
label {
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}
.result-accessory {
	color: var(--color-result-accessory);
}
.about-accessory {
	color: var(--color-about-accessory);
}
label {
	color: var(--color-label);
	line-height: 0.25rem;
}
a {
	color: var(--color-link);
	&:hover {
	  color: var(--color-link-hover);
	}
}

.about {
	background: var(--color-about-background);
	color: var(--color-about-p);
	border-radius: 30px 30px 0 0;
	border: 2px solid white;
}
h2 {
	font-weight: 800;
	color: var(--color-h1);
}
h4 {
	font-weight: 700;
	color: var(--color-h4);
	margin-bottom: 0;
}
.flex {
	display: flex;
	align-items: center;
}
svg {
	width: 50px;
	margin-right: 10px;
}
.border {
	background-color: #212243;
	border-radius: 20px;
	box-shadow: inset 0 0 2px 2px #252649;
}
.columns {
	padding: 30px;
	margin-top: 2rem;
}
.no-padding {
	padding: 0;
	margin-top: 0;
	margin-top: 3rem;
}
.result {
	min-height: 175px;
}