html {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI";
}
a {
	color: inherit;
}
::selection {
	background: OrangeRed;
	color: white;
}


h1 {
	margin: 0;
}
section {
	transition: all 5s ease;
}

/* little + between drug-selectors */
.plus {
	position: absolute;
	top: 43px;
	left: calc(50% - 17px);
	z-index: 3;
	background: OrangeRed;
	border-radius: 50%;
	padding: 7px;
	border: 4px solid white;
}

/* individual drugs */
.drug {
	cursor: pointer;
	user-select: none;
	transition: all .5s ease;
	z-index: 1;
	margin: 0;
	padding: 5px 10px;
	animation-duration: 1s;
	animation-fill-mode: both;
	display: block;
}

/* selected drug */
.drug__selected {
	z-index: 2;
	color: OrangeRed;
    animation-duration: 1s;
    animation-name: bounceIn;
}

main {
	background: transparent;
	color: black;
	padding: 10px;
	min-height: 300px;
	transition: all 2s ease;
}
.emoji {
	font-size: 3rem;
}
.sticky {
	position: sticky;
	top: 0;
	background-color: white;
	font-size: small;
	padding: 10px 10px 5px 10px;
    color: OrangeRed;
    border-bottom: 2px solid OrangeRed;
	z-index: 3;
	font-weight: bold;
}
.result {
	display: none;
	
	p {
		line-height: 1.5;
	}
	&__intro {
		display: block;
	}
	&__same {

	}
	&__low-and-synergy {

	}
	&__low {

	}
	&__low-and-decrease {

	}
	&__caution {

	}
	&__unsafe {

	}
	&__dangerous {

	}
}





/*
	footer stuff
*/

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}
body {
   min-height: 100%;
   position: relative;
}
footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 38%;   /* Height of the footer */
   border-top: 5px solid red;
   display: flex;
}


/* containers for drugs */
.drug-selector {
    overflow-x: scroll;
    height: 100%;
    width: 50%;
    display: inline-block;
	background-color: white;
}









/*
	ANIMATIONS
*/
@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
    	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

/*
	Desktop style
*/
@media only screen and (min-width: 768px) {
	.drug {
		margin: 10px 0;
	}
	.plus {
		top: calc(50% - 17px);
		left: 310px;
	}
	section {
		padding: 40px;
		max-width: 700px;
	}
}
