@import "vendor/normalize.less";
@import "vendor/skeleton.less";

body {
	font-family: system, -apple-system, "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	background: black;
	display: flex;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

//
// TOP HALF
//
main {
	background: white;
	color: black;
	padding: 16px;
	min-height: 382px;
	transition: all 2s ease;
	width: 100%;
}
.result {
	display: none;
	&__intro {
		display: block;
	}
}
.emoji {
	font-size: 5rem;
}

//
// BOTTOM HALF
//
footer {
	position: absolute;
	bottom: 0;
	height: 38%;
	background: black;
	color: white;
	width: 100%;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
.drug__container {
	margin: 0 16px;
	border-bottom: 1px solid hsla( 0, 0, 100, 0.2);
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	&:last-of-type {
		border-bottom: none;
	}
}
.drug__name {
	flex-grow: 2;
	font-weight: 600;
}
aside {
	position: sticky;
	top: 0;
	background-color: white;
	font-size: 13px;
	padding: 5px 16px;
	color: black;
	text-transform: uppercase;
	z-index: 3;
	font-weight: bold;
	display: initial;
}

// Circle checkboxes
input[type='checkbox'] {
	appearance: none;
	height: 40px;
	width: 40px;
	margin-bottom: none;
	border-radius: 20px;
	background: white;
	transition: all 0.5s ease-in-out;
	border: 8px solid white;
	cursor: pointer;
	&:first-of-type {
		margin-right: 16px;
	}
	&:checked {
		background: black;
		cursor: default;
	}
}

//
// DESKTOP STYLES
//
@media (min-width: 550px) {
	body {
		flex-direction: row;
	}
	footer {
		height: auto;
		position: inherit;
	}
	.group,
	.result {
		max-width: 550px;
		margin: 0 auto;
	}
}
