@import "_skeleton.less";

:root {
	--color-1:          #001e1d;
	--color-2:          #abd1c6;
	--color-3:          #004643;
	--color-4:          #568C85;
	--color-5:          #fffffe;
	--color-link:       #f9bc60;
	--color-link-hover: #eeca94;
}
body {
	margin: 0;
	color: var(--color-1);
	background: var(--color-2);
}
@media (min-width: 550px) {
	body {
		margin: 3rem;
	}
}
select {
	font-size: 2rem;
	width: 100%;
	max-width: 100%;
	margin: 0 0 2rem 0;
}
.step-label {
	font-weight: 900;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 2rem 0 1rem 0;
	color: var(--color-3);
}
a {
	color: var(--color-link);
	&:hover {
	  color: var(--color-link-hover);
	}
}
.result,
.about {
	padding: 3rem 3rem 8rem 3rem;
}
.result {
	background: var(--color-4);
	border-radius: 30px 30px 0 0;
	color: var(--color-5);
	position: relative;
	top: 30px;
	overflow: hidden;
	transition-property: max-height, padding-top, padding-bottom;
	transition-duration: 1.5s;
	transition-timing-function: ease-in-out;
	height: auto;
	max-height: 600px;
	&.collapsed {
	  	max-height: 0;
		padding: 0 3rem 0 3rem;
	}
}
.about {
	background: var(--color-3);
	color: var(--color-5);
	border-radius: 30px 30px 0 0;
	p {
		color: var(--color-2);
	}
}
h1 {
	font-weight: 900;
}
h4 {
	font-weight: 800;
}
h1,
h4 {
	color: var(--color-5);
}
@media (min-width: 550px) {
	.about {
		border-radius: 30px;
		padding: 5rem;
	}
	.result {
		padding: 5rem 5rem 7rem 5rem;
	}
}